<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYkTMKdXRsUSSO8uuemgDEMFFBaN_z9Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>529767161169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liketraicay.mytodo.myTodo</string>
	<key>PROJECT_ID</key>
	<string>my-todo-639f3</string>
	<key>STORAGE_BUCKET</key>
	<string>my-todo-639f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529767161169:ios:416edb50a46089a0e00770</string>
</dict>
</plist>